@import "./../../../theme.scss";

h4{
  margin-top: 15px;
  font-size: 13px;
  text-transform: uppercase;
}

h5{
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

td{
  padding-right: 15px;
  padding-left: 10px;
}
.primary{
  font-size: 17px;
  color: $dark-blue;

}

input, select {
  color: $carbon;
}

select{
  margin:0px;
  padding: 0px;
}

.other{
  border:none;
  border-bottom: 1px solid $carbon;
  outline: none;
  width: 100px;
}

.other::placeholder{
  color: $secondary-color;
}

.exped{
  border-color: $grey-border;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 5px;
}

ng-select ::ng-deep .dropdown-menu {
  display: block!important;
}

ng-select ::ng-deep .btn-secondary{
  color: $carbon;
  font-size: 13px;
  padding: 2px;
}

