<div class="container">
  <!-- Selection -->
  <div>
    <h1> Récapitulatif des ordres</h1>
    <h4 (click)="onSelect()">  Recherche avancée
      <i *ngIf="!select" style="padding-left: 10px" class="fa fa-chevron-down"></i>
      <i *ngIf="select" style="padding-left: 10px" class="fa fa-chevron-up"></i></h4>
    <div *ngIf="select">
      <div class="row">
        <div class="col-6">
          <ng-select [multiple]="true"
                     [items]="clients_array"
                     [disabled]="disabled"
                     (data)="refresh_client($event)"
                     (selected)="selected_client($event)"
                     (removed)="removed_client($event)"
                     placeholder="Clients"></ng-select>
          <pre>{{itemsToString(value)}}</pre>
        </div>
        <div class="col-6">
          <ng-select [multiple]="true"
                     [items]="suppliers_array"
                     [disabled]="disabled"
                     (data)="refresh_fournisseur($event)"
                     (selected)="selected_supplier($event)"
                     (removed)="removed_supplier($event)"
                     placeholder="Fournisseurs"></ng-select>
          <pre>{{itemsToString(value)}}</pre>
        </div>
      </div>
      <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">

        </div>
      </div>
    </div>
  </div>
  <!-- Fin Selection -->
  <!-- Table récapitulative des ordres -->
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>CLIENTS</th>
        <th>FOURNISSEURS</th>
        <th>DATE CREATION</th>
        <th>MONTANT</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of selected_orders" (click)="changePage(order.id)" >
        <td>{{clients_map.get(order.client)}}</td>
        <td>{{suppliers_map.get(order.supplier)}}</td>
        <td>{{order.expected_delivery_date}}</td>
        <td>{{order.total_amount}} $</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- Fin table -->

</div>

