<div class="container">
  <!-- Selection -->
  <div>
    <h1> Récapitulatif des ordres</h1>
    <h4 (click)="onSelect()"> Recherche avancée
      <i *ngIf="!select" style="padding-left: 10px" class="fa fa-chevron-down"></i>
      <i *ngIf="select" style="padding-left: 10px" class="fa fa-chevron-up"></i></h4>
    <div *ngIf="select">
      <div class="row">
        <div class="col-6">
          <ng-select [multiple]="true"
                     [items]="clients_array"
                     [disabled]="disabled"
                     (data)="refresh_client($event)"
                     (selected)="selected_client($event)"
                     (removed)="removed_client($event)"
                     placeholder="Clients"></ng-select>
          <pre>{{itemsToString(value)}}</pre>
        </div>
        <div class="col-6">
          <ng-select [multiple]="true"
                     [items]="suppliers_array"
                     [disabled]="disabled"
                     (data)="refresh_fournisseur($event)"
                     (selected)="selected_supplier($event)"
                     (removed)="removed_supplier($event)"
                     placeholder="Fournisseurs"></ng-select>
          <pre>{{itemsToString(value)}}</pre>
        </div>
      </div>
      <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">

        </div>
      </div>
    </div>
  </div>
  <!-- Fin Selection -->
  <!-- Table récapitulative des ordres -->
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th></th>
        <th>CLIENTS</th>
        <th>FOURNISSEURS</th>
        <th>DATE CREATION</th>
        <th>MONTANT</th>
        <th>PAIEMENT</th>
        <th>LIVRAISON</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of selected_orders">
        <td align="center">
          <a [href]="apiUrl + 'excel?id_order=' + order.id_order" target="_blank"> <i class="fa fa-download"></i> </a>
        </td>
        <td (click)="changePage(order.id_order)">{{clients_map.get(order.id_client)}}</td>
        <td (click)="changePage(order.id_order)">{{suppliers_map.get(order.id_supplier)}}</td>
        <td (click)="changePage(order.id_order)">{{order.creation_date}}</td>
        <td (click)="changePage(order.id_order)">{{order.total_amount}} $</td>
        <td *ngIf="order.complete_payment_date != -1" (click)="changePage(order.id_order)" class="ok">
          <i class="fa fa-check-circle"></i> payé </td>
        <td *ngIf="order.complete_payment_date == -1" (click)="changePage(order.id_order)" class="ko">
          <i class="fa fa-times-circle"></i> impayé </td>
        <td *ngIf="order.complete_delivery_date != -1" (click)="changePage(order.id_order)" class="ok">
          <i class="fa fa-check-circle"></i> livré</td>
        <td *ngIf="order.complete_delivery_date == -1" (click)="changePage(order.id_order)" class="ko">
          <i class="fa fa-times-circle"></i> non livré</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- Fin table -->

</div>

