<div *ngIf="edit">
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)">
    <table>
      <tbody>
      <tr>
        <td> Client</td>
        <td>
          <div class="primary">{{order.client}}</div>
        </td>
      </tr>
      <tr>
        <td> Fournisseur</td>
        <td>
          <div class="primary">{{order.supplier}}</div>
        </td>
      </tr>
      <tr>
        <td> Date</td>
        <td>
          <div class="primary">{{order.dateCreation}}</div>
        </td>
      </tr>
      <tr>
        <td>Mode de paiement</td>
        <td>
          <input formControlName='paiementMode' type="radio" value="LC"
                 (change)="modeFalse($event)"><label class="try">LC</label>
          <input formControlName='paiementMode' type="radio" value="TT"
                 (change)="modeFalse($event)"><label class="try">TT</label>
          <input formControlName='paiementMode' type="radio" value="DP"
                 (change)="modeFalse($event)"><label class="try">DP</label>
          <input formControlName='paiementMode' type="radio" value="TT + DP"
                 (change)="modeTrue($event)"><label class="try">TT + DP</label>
        </td>
      </tr>
      <tr *ngIf="mode">
        <td> TT : </td>
        <td>
          <input class="input" formControlName='TT' class="purcent" type="number" placeholder="%">
        </td>
      </tr>
      <tr *ngIf="mode">
        <td> DP :</td>
        <td>
          <input class="input" formControlName='DP ' class="purcent" type="number" placeholder="%">
        </td>
      </tr>
      <tr>
        <td> Échéance</td>
        <td><input class="input" formControlName='echeance' type="number" name="echeance" placeholder="Echéance en nombre de jours"
                   value="{{order.echeance}}"></td>
      </tr>
      </tbody>
    </table>

    <h4>Produits </h4>

    <h4> Remarques</h4>
    <div class="wrap-input validate-input">
      <label class="label-login">L/Dips</label><br/>
      <input formControlName='lDips' type="radio" value="OK" checked="checked"><label class="try">OK</label>
      <input formControlName='lDips' type="radio" value="LDAttF"><label class="try">LDAttF</label>
      <input formControlName='lDips' type="radio" value="LDRemC"><label class="try">LDRemC</label>
      <input formControlName='lDips' type="radio" value="LDConfC"><label class="try">LDConfC</label><br/>
    </div>
    <div class="wrap-input validate-input">
      <label class="label-login">Appro S/OFF</label><br/>
      <input formControlName='sOff' type="radio" value="OK" checked="checked"><label class="try">OK</label>
      <input formControlName='sOff' type="radio" value="SOAttF"><label class="try">SOAttF</label>
      <input formControlName='sOff' type="radio" value="SORemC"><label class="try">SORemC</label>
      <input formControlName='sOff' type="radio" value="SOConfC"><label class="try">SOConfC</label><br/>
    </div>
    <div class="wrap-input validate-input">
      <label class="label-login">Appro Ship Sample</label><br/>
      <input formControlName='shipSample' type="radio" value="OK" checked="checked"><label class="try">OK</label>
      <input formControlName='shipSample' type="radio" value="SSAttF"><label class="try">SSAttF</label>
      <input formControlName='shipSample' type="radio" value="SSRemC"><label class="try">SSRemC</label>
      <input formControlName='shipSample' type="radio" value="SSConfC"><label class="try">SSConfC</label><br/>
    </div>
    <div class="wrap-input validate-input">
      <label class="label-login">Ship Sample 2H + 3M/COL</label><br/>
      <input formControlName='shipSampleCol' type="radio" value="SSAttF" checked="checked"><label class="try">SSAttF</label>
      <input formControlName='shipSampleCol' type="radio" value="SSRemC"><label class="try">SSRemC</label><br/>
    </div>
    <button type="submit" class="save-button"><i class="fa fa-check"></i></button>
    <button type="button" class="save-button" routerLink="/home"><i class="fa fa-ban"></i></button>
  </form>
</div>

<div *ngIf="edit === false">
  <table>
    <tbody>
    <tr>
      <td> Client</td>
      <td>
        <div class="primary">{{order.client}}</div>
      </td>
      <td> Fournisseur</td>
      <td>
        <div class="primary">{{order.supplier}}</div>
      </td>
    </tr>
    <tr>
      <td> Date</td>
      <td>
        <div class="primary">{{order.dateCreation}}</div>
      </td>
    </tr>
    <tr>
      <td> Paiement</td>
      <td>
        <div class="primary">{{order.paiementMode}}</div>
      </td>
      <td> Échéance</td>
      <td>
        <div class="primary">{{order.echeance}} jours</div>
      </td>
    </tr>
    </tbody>
  </table>
  <h4>Produits </h4>

  <h4> Remarques</h4>
  <table>
    <tbody>
    <tr>
      <td>L/Dips</td>
      <td>
        <div class="primary">{{order.lDips}}</div>
      </td>
      <td>Appro S/Off</td>
      <td>
        <div class="primary">{{order.sOff}}</div>
      </td>
    </tr>
    <tr>
      <td>Appro Ship Sample</td>
      <td>
        <div class="primary">{{order.shipSample}}</div>
      </td>
      <td>Ship Sample 2H+3M/Col</td>
      <td>
        <div class="primary">{{order.shipSampleCol}}</div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
