<div id="login">
  <div class="row">
    <div class="col-lg-6 col-md-6 vcenter" id="login-left">
      <!--<img src="./../../assets/img/itn.jpg" id="login-logo" />-->
      <div id="login-title">International Textile Network</div>
      <div id="login-subtitle">
        Bienvenue sur l'interface ITN
      </div>
    </div>
    <div class="col-lg-6 col-md-6" id="login-right">
      <!--<button type="button" class="menu-button">Click Me!</button>-->
      <h1> IDENTIFICATION </h1>
      <form>
        <div class="wrap-input validate-input">
          <label class="label-login">IDENTIFIANT</label>
          <input class="input" type="email" name="email" placeholder="user.surname@calf.fr">
        </div>
        <div class="wrap-input validate-input">
          <label class="label-login"> MOT DE PASSE</label>
          <input class="input" type="password" name="password" placeholder="************">
        </div>
      </form>
      <button type="button" class="login-button" routerLink="/home">Connexion</button>
    </div>
  </div>
</div>

