<div class="container">
  <h1>NOUVEL ORDRE </h1>
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)">
    <!--<div class="row">-->
    <!--<div class="col-lg-9 col-md-9">-->


    <div class="row">
      <!-- Partenaires -->
      <div class="col-lg-6 col-md-6">
        <app-module [title]="'Partenaires'">
          <div class="wrap-input validate-input">
            <label class="label-login">Fournisseur</label>
            <ng-select [allowClear]="true"
                       [items]="suppliers_array"
                       [disabled]="disabled"
                       (data)="refresh_supplier($event)"
                       (removed)="removed($event)"
                       (typed)="typed($event)"
                       placeholder="Nom du fournisseur">
            </ng-select>
          </div>
           <div class="wrap-input validate-input">
            <label class="label-login">Client</label>
            <ng-select [allowClear]="true"
                       [items]="clients_array"
                       [disabled]="disabled"
                       (data)="refresh_client($event)"
                       (removed)="removed($event)"
                       (typed)="typed($event)"
                       placeholder="Nom du client">
            </ng-select>
          </div>
        </app-module>
      </div>
      <!-- Fin Partenaires -->

      <!--Informations-->
      <div class="col-lg-6 col-md-6">
        <app-module [title]="'Informations'">
          <div class="wrap-input validate-input">
            <label class="label-login">Mode de paiement</label><br/>
            <input formControlName='payment_type' type="radio" name="payment_type" value="LC"
                   (change)="tt_dp_unselect($event)"><label class="try">LC</label>
            <input formControlName='payment_type' type="radio" name="payment_type" value="TT"
                   (change)="tt_dp_unselect($event)"><label class="try">TT</label>
            <input formControlName='payment_type' type="radio" name="payment_type" value="DP"
                   (change)="tt_dp_unselect($event)"><label class="try">DP</label>
          </div>

          <div class="wrap-input validate-input">
            <label class="label-login">Date d'expédition espérée</label>
            <input [(ngModel)]='expected_delivery_date' [ngModelOptions]="{standalone: true}" class="input"
                   type="date" name="date " placeholder="Date d'expédition espérée">
          </div>
        </app-module>
      </div>
    </div>
    <!-- Fin Informations -->
     <!-- Produits -->
    <app-module [title]="'Produits'">
      <div>
        <label class="label-login">Montant de l'ordre: </label>
      </div>
              <table>
                <thead>
                <tr>
                  <th></th>
                  <th> Référence</th>
                  <th> Colori</th>
                  <th> Quantité</th>
                  <th> Prix Unitaire</th>
                  <th> Commission </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of products">
                  <td>
                    <button type="button" class="delete-button" (click)="removeChoice(item.id)"><i
                      class="fa fa-times"></i></button>
                  </td>
                  <td>
                    <input class="purcent" type="string" name="name" placeholder="Référence" (change)="updateMontant()"
                           [(ngModel)]="item.reference" [ngModelOptions]="{standalone: true}">
                  </td>
                  <td>
                    <input class="purcent" type="string" name="name" placeholder="Colori" (change)="updateMontant()"
                           [(ngModel)]="item.color" [ngModelOptions]="{standalone: true}">
                  </td>
                  <td>
                    <input class="purcent" type="number" name="name" placeholder="Quantité" (change)="updateMontant()"
                           [(ngModel)]="item.meter" [ngModelOptions]="{standalone: true}">
                  </td>
                  <td>
                    <input class="purcent" type="number" name="name" placeholder="Prix Unitaire"
                           (change)="updateMontant()" [(ngModel)]="item.price" [ngModelOptions]="{standalone: true}">
                  </td>
                  <td>
                    <input class="purcent" type="number" name="name" placeholder="Commission"
                           (change)="updateMontant()" [(ngModel)]="item.commission" [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>
                </tbody>
              </table>
      <button type="button" id="add-button" (click)="addNewChoice()"><i class="fa fa-plus-circle"></i></button>
    </app-module>
    <!-- Fin produits-->

    <!-- Remarques -->
    <app-module [title]="'Remarques'">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="wrap-input validate-input">
            <label class="label-login">L/Dips</label><br/>
            <input formControlName='l_dips' type="radio" name="l_dips" value="OK"><label class="try">OK</label>
            <input formControlName='l_dips' type="radio" name="l_dips" value="LDAttF"><label class="try">LDAttF</label>
            <input formControlName='l_dips' type="radio" name="l_dips" value="LDRemC"><label class="try">LDRemC</label>
            <input formControlName='l_dips' type="radio" name="l_dips" value="LDConfC"><label
            class="try">LDConfC</label><br/>
          </div>
          <div class="wrap-input validate-input">
            <label class="label-login">Appro S/OFF</label><br/>
            <input formControlName='appro_s_off' type="radio" name="appro_s_off" value="OK"><label class="try">OK</label>
            <input formControlName='appro_s_off' type="radio" name="appro_s_off" value="SOAttF"><label class="try">SOAttF</label>
            <input formControlName='appro_s_off' type="radio" name="appro_s_off" value="SORemC"><label class="try">SORemC</label>
            <input formControlName='appro_s_off' type="radio" name="appro_s_off" value="SOConfC"><label
            class="try">SOConfC</label><br/>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="wrap-input validate-input">
            <label class="label-login">Appro Ship Sample</label><br/>
            <input formControlName='appro_ship_sample' type="radio" name="appro_ship_sample" value="OK"><label class="try">OK</label>
            <input formControlName='appro_ship_sample' type="radio" name="appro_ship_sample" value="SSAttF"><label
            class="try">SSAttF</label>
            <input formControlName='appro_ship_sample' type="radio" name="appro_ship_sample" value="SSRemC"><label
            class="try">SSRemC</label>
            <input formControlName='appro_ship_sample' type="radio" name="appro_ship_sample" value="SSConfC"><label
            class="try">SSConfC</label><br/>
          </div>
          <div class="wrap-input validate-input">
            <label class="label-login">Ship Sample 2H + 3M/COL</label><br/>
            <input formControlName='ship_sample_2h' type="radio" name="ship_sample_2h" value="SSAttF"><label
            class="try">SSAttF</label>
            <input formControlName='ship_sample_2h' type="radio" name="ship_sample_2h" value="SSRemC"><label
            class="try">SSRemC</label><br/>
          </div>
        </div>
      </div>
    </app-module>
    <!-- Fin Remarque -->

    <div style="color: #53c26c">
       {{error_message}}
    </div>

    <div id="button">
      <button type="submit" class="form-button">Enregistrer</button>
    </div>
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3" id="stats">-->
    <!--<br>-->
    <!--<h3>Statistiques</h3>-->
    <!--</div>-->
    <!--</div>-->
  </form>

</div>
