<div class="container">
  <h1> FICHE SIGNALETIQUE </h1>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <app-module [modif]="true" (editChange)="editId = !editId" [title]="'Suivi de commande'">
        <!--<app-identite [edit]="editId"></app-identite>-->
      </app-module>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <app-module [modif]="true" (editChange)="editId = !editId" [title]="'Fiche Identité'">
        <!--<app-identite [edit]="editId"></app-identite>-->
      </app-module>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <app-module [modif]="true" [title]="'Expéditions'">
        Coucou
      </app-module>
    </div>
  </div>
</div>
