$carbon: #4a4d54;
$blue: #1281a7;
$dark-blue: #11426e;
$yellow: #b4d2d6;
$dark-sky:  #a9a9a9;
$secondary-color: rgba(134, 134, 137, 0.37);
$background-color: #f4f4f4;
$background-module: #e7eaed;
$grey-border:  #e7eaed;
$green: rgba(83, 194, 108, 0.91);
$red: rgba(194, 47, 62, 0.91);

/*
Les différentes couleurs :

- header
- titres dans header
- hover de ces titres

- fond des titres des cases
- couleur de remplissage des inputs

- couleur background
*/
