$carbon: #4a4d54;
$blue: #1966a7;
$dark-blue: #11426e;
$yellow: #ffdf6c;
$dark-sky:  #a9a9a9;
$secondary-color: rgba(134, 134, 137, 0.37);
$background-color: #f4f4f4;
$background-module: #e7eaed;
$grey-border:  #e7eaed;

/*
Les différentes couleurs :

- header
- titres dans header
- hover de ces titres

- fond des titres des cases
- couleur de remplissage des inputs

- couleur background
*/
